<!-- End All Title Box -->
<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="checkout-address">
                    <div class="title-left">
                        <h3>Thông tin giao hàng</h3>
                    </div>
                    <form class="needs-validation" novalidate>
                        <div class="mb-3">
                            <label for="name">Họ và tên người nhận</label>
                            <input type="text" class="form-control" id="name" placeholder="Nhập họ và tên người nhận"
                                required>
                            <div class="invalid-feedback"> Please enter your shipping address. </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 mb-3">
                                <label for="city">Tỉnh/Thành phố</label>
                                <select onchange="cityChange()" class="wide w-100 combo-box" id="city">
                                    <option value="" disabled selected hidden>Vui lòng chọn tỉnh/thành phố
                                    </option>
                                </select>
                                <div class="invalid-feedback"> Please select a valid country. </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="district">Quận/Huyện</label>
                                <select onchange="districtChange()" disabled class="wide w-100 combo-box" id="district">
                                    <option value="" disabled selected hidden>Vui lòng chọn quận/huyện</option>
                                </select>
                                <div class="invalid-feedback"> Please provide a valid state. </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="sub-district">Phường/Xã</label>
                                <select disabled class="wide w-100 combo-box" id="sub-district">
                                    <option value="" disabled selected hidden>Vui lòng chọn phường/xã</option>
                                </select>
                                <div class="invalid-feedback"> Please provide a valid state. </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="address">Địa chỉ</label>
                            <input type="text" class="form-control" id="address" placeholder="Nhập địa chỉ nhận hàng"
                                required>
                            <div class="invalid-feedback"> Please enter your shipping address. </div>
                        </div>
                        <hr class="mb-4">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="save-info">
                            <label class="custom-control-label" for="save-info">Lưu thông tin giao hàng
                            </label>
                        </div>
                        <hr class="mb-4">
                        <div class="title-left">
                            <h3>Phương thức thanh toán</h3>
                        </div>
                        <div class="d-block my-3">
                            <div class="custom-control custom-radio">
                                <input id="credit" name="paymentMethod" type="radio" class="custom-control-input"
                                    checked required>
                                <label class="custom-control-label" for="credit">Thanh toán khi nhận hàng</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="debit" name="paymentMethod" type="radio" class="custom-control-input"
                                    required>
                                <label class="custom-control-label" for="debit">Chuyển khoản</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input"
                                    required>
                                <label class="custom-control-label" for="paypal">Ví Momo</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="cc-name">Name on card</label>
                                <input type="text" class="form-control" id="cc-name" placeholder="" required> <small
                                    class="text-muted">Full name as displayed on card</small>
                                <div class="invalid-feedback"> Name on card is required </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="cc-number">Credit card number</label>
                                <input type="text" class="form-control" id="cc-number" placeholder="" required>
                                <div class="invalid-feedback"> Credit card number is required </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">Expiration</label>
                                <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                                <div class="invalid-feedback"> Expiration date required </div>
                            </div>
                            <div class="col-md-3 mb-3">
                                <label for="cc-expiration">CVV</label>
                                <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                                <div class="invalid-feedback"> Security code required </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="payment-icon">
                                    <ul>
                                        <li><img class="img-fluid" src="images/payment-icon/1.png" alt=""></li>
                                        <li><img class="img-fluid" src="images/payment-icon/2.png" alt=""></li>
                                        <li><img class="img-fluid" src="images/payment-icon/3.png" alt=""></li>
                                        <li><img class="img-fluid" src="images/payment-icon/5.png" alt=""></li>
                                        <li><img class="img-fluid" src="images/payment-icon/7.png" alt=""></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-1">
                    </form>
                </div>
            </div>
            <div class="col-sm-6 col-lg-6 mb-3">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="shipping-method-box">
                            <div class="title-left">
                                <h3>Phương thức vận chuyển</h3>
                            </div>
                            <div class="mb-4">
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption1" name="shipping-option" class="custom-control-input"
                                        checked="checked" type="radio">
                                    <label class="custom-control-label" for="shippingOption1">Bình thường</label>
                                    <span class="float-right font-weight-bold">Miễn phí</span>
                                </div>
                                <div class="ml-4 mb-2 small">(3-7 ngày)</div>
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption2" name="shipping-option" class="custom-control-input"
                                        type="radio">
                                    <label class="custom-control-label" for="shippingOption2">Express</label>
                                    <span class="float-right font-weight-bold">200000 VND</span>
                                </div>
                                <div class="ml-4 mb-2 small">(2-4 ngày)</div>
                                <div class="custom-control custom-radio">
                                    <input id="shippingOption3" name="shipping-option" class="custom-control-input"
                                        type="radio">
                                    <label class="custom-control-label" for="shippingOption3">Hỏa tốc</label>
                                    <span class="float-right font-weight-bold">50000 VND</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="odr-box">
                            <div class="title-left">
                                <h3>Sản phẩm</h3>
                            </div>
                            <div id="info-list" class="rounded p-2 bg-light">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12">
                        <div class="order-box">
                            <div class="title-left">
                                <h3>Đơn hàng của bạn</h3>
                            </div>
                            <div class="d-flex">
                                <div class="font-weight-bold">Các chi phí</div>
                                <div class="ml-auto font-weight-bold">Số tiền</div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Tổng cộng</h4>
                                <div id="total-money-pay" class="ml-auto font-weight-bold"></div>
                            </div>
                            <div class="d-flex">
                                <h4>Giảm giá</h4>
                                <div class="ml-auto font-weight-bold"> 0 VND </div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Áp dụng mã giảm giá</h4>
                                <div class="ml-auto font-weight-bold"> 0 VND </div>
                            </div>
                            <div class="d-flex">
                                <h4>Thuế</h4>
                                <div class="ml-auto font-weight-bold"> 0 VND </div>
                            </div>
                            <div class="d-flex">
                                <h4>Phí vận chuyển</h4>
                                <div class="ml-auto font-weight-bold"> Miễn phí </div>
                            </div>
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Số tiền phải thanh toán</h5>
                                <div id="money-pay" class="ml-auto h5"> </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <div class="col-12 d-flex shopping-box"> <a onclick="checkOutInfoIsValid()"
                            class="ml-auto btn hvr-hover">Tiến
                            hành thanh toán
                        </a> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/checkout.js"></script>
<script id="checkout-info" type="text/x-handlebars-template">
    \{{#each this}}
    <div class="media mb-2 border-bottom checkout-div">
    
        <div class="checkout-book-info">
            <div class="media-body"> <a href="bookslist/\{{_id}}">\{{title}}</a>
                <div class="small text-muted">Giá: \{{basePrice}} VND <span class="mx-2">|</span>Số lượng:
                \{{quantity}}
                    <span class="mx-2">|</span> Tổng cộng: \{{totalPrice}} VND
                </div>
            </div>
        </div>
        <div><img class="checkout-book-image" src="\{{image_link}}"></div>
    
    </div>
    \{{/each}}
</script>
<script id="city-info" type="text/x-handlebars-template">
    <option value="" disabled selected hidden>Vui lòng chọn tỉnh/thành phố
    </option>
    \{{#each this}}
      <option>\{{name}}</option>
    \{{/each}}
</script>
<script id="district-info" type="text/x-handlebars-template">
    <option value="" disabled selected hidden>Vui lòng chọn quận/huyện
    </option>
    \{{#each this}}
      <option>\{{name}}</option>
    \{{/each}}
</script>
<script id="sub-district-info" type="text/x-handlebars-template">
    <option value="" disabled selected hidden>Vui lòng chọn phường/xã
    </option>
    \{{#each this}}
      <option>\{{this}}</option>
    \{{/each}}
</script>
<!-- End Cart -->