<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table cart-exist">
                        <thead>
                            <tr>
                                <th>Ảnh</th>
                                <th>Tên sách</th>
                                <th>Giá</th>
                                <th>Số lượng</th>
                                <th>Tổng cộng</th>
                                <th>Xóa</th>
                            </tr>
                        </thead>
                        <tbody id="cart-table">
                        </tbody>
                    </table>
                </div>
                <div id="empty-cart">
                    <h2>CHƯA CÓ CUỐN SÁCH NÀO TRONG GIỎ HÀNG CỦA BẠN</h2>
                    <a style="color: white;" href="/bookslist" class="btn btn-default hvr-hover btn-cart">XEM SÁCH</a>
                </div>
            </div>
            <div style="width: 100%;" class="cart-exist">
                <div class="col-12 d-flex shopping-box "><a href="/checkout" class="ml-auto btn hvr-hover">Thanh
                        toán</a>
                </div>
            </div>
        </div>
    </div>
    <script id="cart-page" type="text/x-handlebars-template">
    \{{#each this}}
        <tr>
            <td class="thumbnail-img">
                <a href="#">
                    <img class="img-fluid" src="\{{image_link}}" alt="" />
                </a>
            </td>
            <td class="name-pr book-info">
                <a href="#">
                    \{{title}}
                </a>
            </td>
            <td class="price-pr book-info" >
                <p>\{{basePrice}} </p>
            </td>
            <td class="quantity-box"><input onchange="updateItemFromCart(`\{{_id}}`,this.value)" onfocusout="updateItemFromCart(`\{{_id}}`,this.value)" onkeypress="return isNumberKey(event)" type="number" size="4" value="\{{quantity}}" min="1" step="1" class="c-input-text qty text">
            </td>
            <td class="total-pr book-info">
                <p>\{{totalPrice}} </p>
            </td>
            <td class="remove-pr">
                <a onclick="removeItemFromCart(`\{{_id}}`)">
                    <i class="fas fa-times"></i>
                </a>
            </td>
        </tr>
    \{{/each}}
</script>